import(Rcpp)
useDynLib(fastgbm, .registration = TRUE)
importFrom(stats, approx, model.frame, model.matrix, predict, terms, delete.response, na.omit, na.pass, as.formula, model.response, .getXlevels, pnorm)
importFrom(utils, head)
export(fastgbm)
export(save_fastgbm)
export(load_fastgbm)
export(importance)
export(metrics)
export(rmse)
export(logloss)
export(accuracy)
export(coef.fastgbm)
S3method(predict, fastgbm)
S3method(print, fastgbm)
S3method(summary, fastgbm)
S3method(print, summary.fastgbm)
S3method(coef, fastgbm)
